<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Roger Sanchez March</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/R_Icon.ico" rel="icon">
    <link href="assets/img/R_Icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="assets/vendor/icofont/line-awesome.min.css" rel="stylesheet">
    <link href="assets/vendor/icofont/all.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/responsive.css">

    <script src="https://kit.fontawesome.com/5db342f89f.js" crossorigin="anonymous"></script>

    <!-- =======================================================
    * Template Name: Personal - v2.2.0
    * Template URL: https://bootstrapmade.com/personal-free-resume-bootstrap-template/
    * Author: Roger Sanchez March
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>
    <video autoplay muted loop id="bgVideo">
        <source src="assets/environment.mp4" type="video/mp4">
        Your browser doesn't support HTML video
    </video>

    <!-- ======= Header ======= -->
    <header id="header" class="header-tops">
        <div class="container">
            <!--img src="assets/img/LogoTiesOfDestiny_Final.png" alt="logo" width="250" height="250"-->
            <!-- Uncomment below if you prefer to use an image logo -->
            <!--a href="index.html" class="mr-auto"><img src="assets/img/LogoTiesOfDestiny_Final.png" alt="" class="img-fluid" width="250" height="250"></a-->

            <h1><a href="index.html">Roger Sanchez March</a></h1>
            <h2 style="color:white" download href="assets/1280x720.zip">Welcome To My Portfolio!</h2>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a style="font-size:15px" href="#header">Home</a></li>
                    <li><a style="font-size:15px" href="#aboutme">About Me</a></li>
                    <li><a style="font-size:15px" href="#portfolio">Game Design</a></li>
                    <li><a style="font-size:15px" href="#portfolio-engine">My Music</a></li>
                    <li><a style="font-size:15px" href="https://rogersanchezmarch.myportfolio.com/" target="_blank">Articles</a></li>
                    <li><a style="font-size:15px" href="https://rogerjimbo.artstation.com/" target="_blank">Artstation</a></li>
                    <li><a style="font-size:15px" href="https://discord.gg/Web5KNz" target="_blank">Discord</a></li>
                    <li><a style="font-size:15px" href="https://anchor.fm/la-gent-normal" target="_blank">Podcast</a></li>
                    <li><a style="font-size:15px" download href="assets/Roger Sanchez March Resume.pdf">CV</a></li>
                </ul>
            </nav><!-- .nav-menu -->

            <div class="social-links">
                <a href="https://www.linkedin.com/in/roger-sanchez-march-8b758398/" target="_blank" class="twitter"><i class="icofont-linkedin"></i></a>
                <a href="https://www.artstation.com/rogerjimbo" target="_blank" class="artstation"><i class="fab fa-artstation"></i></a>
                <a href="https://www.instagram.com/roger_sanch/" target="_blank" class="twitter"><i class="icofont-instagram"></i></a>
                <a href="https://github.com/RogerJimbo" target="_blank" class="github"><i class="fab fa-github"></i></a>
                <a href="https://twitter.com/RogerTonight" target="_blank" class="twitter"><i class="icofont-twitter"></i></a>
            </div>

            <div class="social-links">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/KeGvMD2vp0g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                &nbsp;&nbsp; &nbsp;&nbsp;
                <iframe src="https://discordapp.com/widget?id=712559605292728351&theme=dark" width="350" height="315" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
           
            
                <iframe src="https://drive.google.com/drive/folders/1Tbpm4stAgDlbeD-j2SevRs2nHmMWREj9?usp=sharing" width="600" height="500" frameborder="0"></iframe>
            
            
            
            </div>
        </div>


    </header><!-- End Header -->
    <!-- ======= PERSONAL DATA SECTION ======= -->
    <section id="aboutme" class="aboutme">
        <div class="container">

            <div class="section-title">
                <h2>About me</h2>
                <!--  <p>ABOUTME</p>-->
            </div>
            <h3 class="aboutme-title">Contact</h3>
            <div class="aboutme-item pb-0">
                <h4>Roger Sanchez March</h4>
                <p><em>I'm a 22 year old narrative game developer with the roles of 3D artist and level designer based in Barcelona. Also I'm a musician, music producer and scrpit writer. 
                  On top of that, I am a filmmaker and video editor.  </em></p>
                <p>
                    <ul>
                        <li>C/Industria 209 3º 1ª Barcelona (Spain)</li>
                        <li>619 26 27 97</li>
                        <li>roger.sanchezmarch@hotmail.es</li>
                    </ul>
                </p>
            </div>

            <h3 class="aboutme-title">Education</h3>
            <div class="aboutme-item">
                <h4>Degree in Videogame Design &amp; Development</h4>
                <h5>2016 - 2021</h5><br>
                <a href="https://www.citm.upc.edu/"><em>  Universitat Politècnica de Catalunya, Barcelona, Spain</em></a>
                <p>The most important thing I learnt was teaching myself, working things out on my own and most importantly team work, always team work. I focused mainly on 3D game art and level design, I've also got the basics on Unreal Engine and Unity.</p>
            </div>
            <div class="aboutme-item">
                <h4>Profesional Music Production Course</h4>
                <h5>2018 - 2019</h5><br>
                <a href="https://sonoprobarcelona.com/"><em>  Sonopro, Barcelona, Spain</em></a>
                <p>I combined this with the videogame degree because I couldn't resist learning about one of my biggest passions. I used the skills I learnt in Sonopro to produce my own record with my rock band as well as other personal projects in which I'm currently working on.</p>
            </div>
            <div class="aboutme-item">
                <h4>Batxillerat Cientific (High School)</h4>
                <h5>2014 - 2016</h5><br>
                <a href="https://www.palcam.cat/en/"><em>  Escola Palcam, Barcelona, Spain</em></a>
                <p>What I take from those crazy teenage times is most importantly friends and experiences rather than actual textbook knowledge. I made a plan of who I wanted to be. Without a goal you can't score.</p>
            </div>

            <!-- ======= PROFESSIONAL EXPERIENCE ======= -->
            <h3 class="aboutme-title">Professional Experience</h3>

            <!-- ======= SOFTWARE ======= -->
            <div class="aboutme-item">
                <h4 class="title">Software Skills</h4>
                <table align="left">
                    <tr>
                        <td style="padding:0 25px 0 15px;">
                            <div class="software-used" ng-repeat="item in project.software_items"><img alt="ZBrush" height="50" ng-src="https://cdna.artstation.com/p/softwares/icons/000/000/046/default/zBrush3.png?1505488078" width="50" src="https://cdna.artstation.com/p/softwares/icons/000/000/046/default/zBrush3.png?1505488078"></div>
                            <div class="software-name" ng-bind-html="::item.name">ZBrush</div>
                        </td>
                        <td style="padding:0 25px 0 15px;">
                            <div class="software-used" ng-repeat="item in project.software_items"><img alt="Maya" height="50" ng-src="https://cdna.artstation.com/p/softwares/icons/000/000/024/default/maya.png?1504879343" width="50" src="https://cdna.artstation.com/p/softwares/icons/000/000/024/default/maya.png?1504879343"></div>
                            <div class="software-name" ng-bind-html="::item.name">Maya</div>
                        </td>
                        <td style="padding:0 25px 0 15px;">
                            <div class="software-used" ng-repeat="item in project.software_items"><img alt="Substance Painter" height="50" ng-src="https://cdnb.artstation.com/p/softwares/icons/000/000/041/default/Substance_Painter_Icon.png?1456833230" width="50" src="https://cdnb.artstation.com/p/softwares/icons/000/000/041/default/Substance_Painter_Icon.png?1456833230"></div>
                            <div class="software-name" ng-bind-html="::item.name">Substance</div>
                        </td>
                        <td style="padding:0 25px 0 15px;">
                            <div class="software-used" ng-repeat="item in project.software_items"><img alt="Unreal Engine" height="50" ng-src="https://cdna.artstation.com/p/softwares/icons/000/000/044/default/unreal_logo_0.png?1471455994" width="50" src="https://cdna.artstation.com/p/softwares/icons/000/000/044/default/unreal_logo_0.png?1471455994"></div>
                            <div class="software-name" ng-bind-html="::item.name">Unreal</div>
                        </td>
                        <td style="padding:0 25px 0 15px;">
                            <div class="software-used" ng-repeat="item in project.software_items"><img alt="3ds Max" height="50" ng-src="https://cdna.artstation.com/p/softwares/icons/000/000/002/default/3dsmax-20172.png?1504815710" width="50" src="https://cdna.artstation.com/p/softwares/icons/000/000/002/default/3dsmax-20172.png?1504815710"></div>
                            <div class="software-name" ng-bind-html="::item.name">3DSMax</div>
                        </td>
                        <td style="padding:0 25px 0 15px;">
                            <div class="software-used" ng-repeat="item in project.software_items"><img alt="Photoshop" height="50" ng-src="https://cdna.artstation.com/p/softwares/icons/000/000/032/default/Photoshop.png?1608144074" width="50" src="https://cdna.artstation.com/p/softwares/icons/000/000/032/default/Photoshop.png?1608144074"></div>
                            <div class="software-name" ng-bind-html="::item.name">Photoshop</div>
                        </td>
                        <td style="padding:0 25px 0 15px;">
                            <div class="software-used" ng-repeat="item in project.software_items"><img _ngcontent-uin-c5="" height="50" width="50" src="https://cdnb.artstation.com/p/softwares/icons/000/000/047/default/unity-logo-white.png?1479506284" alt="Unity"></div>
                            <div _ngcontent-uin-c5="" class="project-software-name">Unity</div>
                        </td>
                        <td style="padding:0 25px 0 15px;">
                            <div class="software-used" ng-repeat="item in project.software_items"><img _ngcontent-ghp-c5="" height="50" width="50" src="https://cdna.artstation.com/p/softwares/icons/000/000/260/default/ableton.png?1443088042" alt="Ableton"></div>
                            <div _ngcontent-ghp-c5="" class="project-software-name">Ableton Live</div>
                        </td>
                        <td style="padding:0 25px 0 15px;">
                            <div class="software-used" ng-repeat="item in project.software_items"><img _ngcontent-nvm-c5="" height="50" width="50" src="https://cdna.artstation.com/p/softwares/icons/000/000/336/default/Microsoft-Visual-Studio-icon.png?1441363711" alt="Visual Studio"></div>
                            <div _ngcontent-nvm-c5="" class="project-software-name">Visual Studio</div>
                        </td>

                        <td style="padding:0 25px 0 15px;">
                            <div class="software-used" ng-repeat="item in project.software_items"><img _ngcontent-nvm-c5="" height="50" width="50" src="https://cdnb.artstation.com/p/softwares/icons/000/000/125/default/premiere-pro.png?1608144421" alt="Premiere Pro"></div>
                            <div _ngcontent-nvm-c5="" class="project-software-name">Premiere Pro</div>
                        </td>
                    </tr>

                </table>
                <br /><br /><br />
            </div>

            <!-- ======= PROFESIONAL EXP ======= -->
            <div class="aboutme-item">
                <h4>Digital Legends QA Intern</h4>
                <h5>2020</h5><br>
                <a href="http://www.digital-legends.com/"><em>  Digital Legends Entretainment, Barcelona, Spain</em></a>
                <p>My role as a QA in DL was testing the daily updates of their mobile games. Also I was responsible for findind and reporting bugs in Heroes, Afterpulse and Respawnables.</p>
            </div>

            <div class="aboutme-item">
                <h4>Directors Of Dialog Fundsraising</h4>
                <h5>2018</h5><br>
                <a href="https://www.directorsofdialog.com/"><em>  Directors Of Dialog, Barcelona, Spain</em></a>
                <p>This was my first job. I learnt a lot about selling and persuading as well as soft skills such as public speaking as well as non-verval communication and listening to customers. </p>
            </div>

            <div class="aboutme-item">
                <h4>Ilustrator</h4>
                <h5>2020</h5><br>
                <a href="https://rogersanchezmarch.myportfolio.com/"><em>  Freelance, Spain</em></a>
                <p>I started working as an ilustrator for several clients. Including the ilustration of a poetry book and various comisions. <a href="https://www.dodmagazine.es/criticas/"><em>here</em></a> or in the Articles section. </p>
            </div>

            <div class="aboutme-item">
                <h4>Linkedin</h4>
                <p>I'm currently looking for a job so if you are interested in anything I do, feel free to contact me!</p>
                <a align="left" download href="https://www.linkedin.com/in/roger-sanchez-march-8b758398/" color="white" class="btn btn"><strong>LinkedIn</strong></a>
            </div>

            <!-- ======= MY STORY ======= -->
            <h3 class="aboutme-title">My Story</h3>
            <div class="aboutme-item">
                <p>
                    <em div { text-align: justify; text-justify: inter-word; }>
                        Hi!<br />
                        Thanks a lot for taking the time to read about me.<br /><br />
                        First of all, I'd like to say that I can’t stand being without something to do. I guess that’s what better defines me. I need something to be working on and keep my mind busy. That being said, I can now introduce myself and mention that I’m from Barcelona, I’m 21 years old which makes me a millennial I think. At least that’s how I feel like.<br /><br />
                        I have placed some images in here where I appear as always making some weird face. A you can apreciate I change my haircut very often, because of all that getting out of your confort zone thing you know. You can find some more interesting photos of mine in my <a href="https://www.instagram.com/roger_sanch/"><em>Instagram</em></a>.<br /><br />
                        I feel that it is important that I mention that I have studied Videogame design and developement in UPC in Barcelona which I’m very proud of, I love making videogames.  Inside the industry, I’m a 3D artist and a level designer which are the areas that I like the most. You can find some projects in which I’ve worked in in the Game Design window and in my  <a href="https://www.artstation.com/rogerjimbo"><em>Artstation</em></a>.<br /><br />
                        In 2019 I studied music production in Sonopro School in Barcelona. Despite I don’t have oficial titulation as a musician, I consider mysekf to be one. I’ve been an autodidact since a very young age, learning all about music, guitar, bass and piano among other instruments.<br /><br />
                        I’ve been writting songs since I was arround 16 and I haven’t stopped. I started my own rock band in 2016 with three other friends: Skyway. We released an album in 2020 featuring 12 songs. You can find the album in the My Music window. I recorded and produced the record on my own with a lot of help from my friends. I learned a lot from the process.<br /><br />
                        Though I’m from Barcelona, I have spend all my summers in a small town in the Pyrenees, in the north of Catalonia: <a href="https://ca.wikipedia.org/wiki/Cerbi"><em>Cerbi</em></a>. That’s a refuge of mine that’s always there. I’m totaly a mountain person. I love the forests, the walking and the climbing.<br /><br />
                        I started a Podcast titled  <a href="https://anchor.fm/la-gent-normal"><em>'La Gent Normal'</em></a> in which I interview common people looking for interesting and motivational stories as well as their view and experience in their life. <br />
                        I'm also founder and one of the administrators of the Game Design Study Group. You can find us on <a href="https://www.youtube.com/channel/UCP7MSdMCF1Hc8eylq2D_pGQ"><em>'YouTube'</em></a>.
    
                    </em>
                </p>
            </div>

            <!-- ======= MY FAVOURITE THINGS ======= -->

            <h3 class="aboutme-title">My Favourite Things</h3>
            <div class="aboutme-item">
                <table align="left">
                    <tr>
                        <td style="padding:50px 25px 50px 15px;">
                            <h4>Movies</h4>
                            <ol>
                                <li>The Dreamers</li>
                                <li>Trainspotting</li>
                                <li>Fight Club</li>
                                <li>La La Land</li>
                                <li>Pulp Fiction</li>
                            </ol>
                        </td>
                        <td style="padding:-50px 25px 50px 15px;">
                            <h4>     Videogames      </h4>
                            <ol>
                                <li>Super Mario</li>
                                <li>Minecraft</li>
                                <li>Hollow Knight</li>
                                <li>Call Of Juarez</li>
                                <li>Bioshock Infinite</li>
                            </ol>
                        </td>
                        <td style="padding:0 25px 0 15px;">
                            <h4>      Bands      </h4>
                            <ol>
                                <li>The Beatles</li>
                                <li>Oasis</li>
                                <li>Manel</li>
                                <li>Pink Floyd</li>
                                <li>Love Of Lesbian</li>
                            </ol>
                        </td>
                        <td style="padding:0 25px 0 15px;">
                            <h4>     Books      </h4>
                            <ol>
                                <li>1984</li>
                                <li>Elantris</li>
                                <li>Summer Of Love</li>
                                <li>Watchmen</li>
                                <li>Primero de Poeta</li>
                            </ol>
                        </td>
                    </tr>
                </table>

                <table align="left">
                    <tr>
                        <td style="padding:0 25px 0 15px;">
                            <h4>      Tv Shows       </h4>
                            <ol>
                                <li>Breaking Bad</li>
                                <li>Lost</li>
                                <li>Friends</li>
                                <li>Merlí</li>
                                <li>House</li>
                            </ol>
                        </td>
                        <td style="padding:0 30px 0 20px;">
                            <h4>     Animals       </h4>
                            <ol>
                                <li>Horses</li>
                                <li>Elephants</li>
                                <li>Dogs</li>
                                <li>Whales</li>
                                <li>LoveBirds</li>
                            </ol>
                        </td>
                        <td style="padding:0 40px 0 65px;">
                            <h4>      Words      </h4>
                            <ol>
                                <li>Echoes</li>
                                <li>Moon</li>
                                <li>Thunder</li>
                                <li>Bollocks</li>
                                <li>Truffle</li>
                            </ol>
                        </td>
                        <td style="padding:0 25px 0 55px;">
                            <h4>Cities      </h4>
                            <ol>
                                <li>Barcelona</li>
                                <li>London</li>
                                <li>Edimburgh</li>
                                <li>Berlín</li>
                                <li>New York</li>
                            </ol>
                        </td>
                    </tr>
                </table>

                </br></br></br></br>
                <br /><br /><br /><br />
                </br></br></br></br></br>
                <br /><br /><br /><br /><br />

                <p>
                    <em>
                        Those are just a few lists of my favourite things which I hope that we coincide. There are some that I left behind though I feel those are some cool ones. This is what happens with game designers they say, we love making lists. <br /><br />
                    </em>
                </p>
            </div>

            <!-- ======= PHOTOS ======= -->
            <h3 class="aboutme-title">Some Photos</h3>
            <div class="aboutme-item">
                <div class="row portfolio-container">

                    <div class="col-lg-4 col-md-6 portfolio-item filter-code">
                        <div class="portfolio-wrap">
                            <img src="assets/img/roger/roger_1.jpg" class="img-fluid" alt=""></br><br />
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-code">
                        <div class="portfolio-wrap">
                            <img src="assets/img/roger/roger_2.jpeg" class="img-fluid" alt=""></br><br />
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-code">
                        <div class="portfolio-wrap">
                            <img src="assets/img/roger/roger_3.jpeg" class="img-fluid" alt=""></br><br />
                        </div>
                    </div>
                    </br><br />
                    <div class="col-lg-4 col-md-6 portfolio-item filter-code">
                        <div class="portfolio-wrap">
                            <img src="assets/img/roger/roger_4.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-code">
                        <div class="portfolio-wrap">
                            <img src="assets/img/roger/roger_5.jpeg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-code">
                        <div class="portfolio-wrap">
                            <img src="assets/img/roger/roger_6.jpeg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ======== MY MUSIC ===========-->

    <section id="portfolio-engine" class="portfolio-engine">
        <div class="container">

            <!-- ======== SKYWAY ===========-->

            <div class="section-title">
                <h2>My Music</h2>
                <p>Skyway</p>
            </div>

            <!-- ======== SOUNDCLOUD ===========-->
            <div class="elementor-element elementor-element-590e67a elementor-widget elementor-widget-audio" data-id="590e67a" data-element_type="widget" data-widget_type="audio.default">
                <div class="elementor-widget-container">
                    <div class="elementor-soundcloud-wrapper">
                        <iframe title="Skyway by Skyway" width="1000" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?visual=false&#038;url=https%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F1042965439&#038;show_artwork=true&#038;maxwidth=1920&#038;maxheight=1080&#038;dnt=1&#038;auto_play=false&#038;buying=true&#038;liking=true&#038;download=true&#038;sharing=true&#038;show_comments=true&#038;show_playcount=true&#038;show_user=true&#038;color"></iframe>
                    </div>
                </div>
            </div><br />

            <!-- ======== YT VIDEO ===========-->
            <div class="elementor-element elementor-element-0dc1a7e elementor-aspect-ratio-219 elementor-widget elementor-widget-video" width="1000" height="440" data-id="0dc1a7e" data-element_type="widget" data-settings="{&quot;aspect_ratio&quot;:&quot;219&quot;}" data-widget_type="video.default">
                <div class="elementor-widget-container" width="1000" height="440">
                    <div class="elementor-wrapper elementor-fit-aspect-ratio elementor-open-inline" width="1000" height="440">
                        <iframe class="elementor-video-iframe" width="1000" height="440" allowfullscreen title="youtube Video Player" src="https://www.youtube.com/embed/CLpj6nikGzU?feature=oembed&amp;start=0&amp;end&amp;wmode=opaque&amp;loop=0&amp;controls=1&amp;mute=0&amp;rel=0&amp;modestbranding=0"></iframe>
                    </div>
                </div>
            </div><br />

            <!-- ======== FOTOS DISC ===========-->
            <img id="myImg" src="assets/img/portfolio/discu_1.jpg" alt="discu_1" style="max-width:330px; text-align:center;">
            <img id="myImg" src="assets/img/portfolio/discu_2.jpg" alt="discu_2" style="max-width:330px; text-align:center;">
            <img id="myImg" src="assets/img/portfolio/discu_3.jpg" alt="discu_3" style="max-width:330px; text-align:center;">
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div><br /><br />

            <!-- ======== REDS SOCIALS ===========-->
            <div class="elementor-element elementor-element-1ba3c5d elementor-shape-rounded elementor-widget elementor-widget-social-icons" data-id="1ba3c5d" data-element_type="widget" data-widget_type="social-icons.default" align="center">
                <div class="elementor-widget-container">
                    <div style="text-align:center;" class="elementor-social-icons-wrapper">
                        <a href="https://open.spotify.com/album/2sDMkWnD272OSg1ZlRELlL" class="elementor-icon elementor-social-icon elementor-social-icon-spotify elementor-repeater-item-48ac5c6" target="_blank">
                            <span class="elementor-screen-only"></span>
                            <i style="font-size:300%; padding:0 25px 0 15px" class="fab fa-spotify"></i>
                        </a>
                        <a href="https://music.apple.com/es/album/skyway/1508510694" class="elementor-icon elementor-social-icon elementor-social-icon-apple elementor-repeater-item-c771e29" target="_blank">
                            <span class="elementor-screen-only"></span>
                            <i style="font-size:300%; padding:0 25px 0 15px" class="fab fa-apple"></i>
                        </a>
                        <a href="https://youtu.be/CLpj6nikGzU" class="elementor-icon elementor-social-icon elementor-social-icon-youtube elementor-repeater-item-02cab7a" target="_blank">
                            <span class="elementor-screen-only"></span>
                            <i style="font-size:300%; padding:0 25px 0 15px" class="fab fa-youtube"></i>
                        </a>
                        <a href="https://soundcloud.com/skyway-official/sets/skyway-4" class="elementor-icon elementor-social-icon elementor-social-icon-soundcloud elementor-repeater-item-14d3f39" target="_blank">
                            <span class="elementor-screen-only"></span>
                            <i style="font-size:300%; padding:0 25px 0 15px" class="fab fa-soundcloud"></i>
                        </a>
                        <a href="https://www.instagram.com/skywayoficial/" class="elementor-icon elementor-social-icon elementor-social-icon-instagram elementor-repeater-item-e8c4668" target="_blank">
                            <span class="elementor-screen-only"></span>
                            <i style="font-size:300%; padding:0 25px 0 15px" class="fab fa-instagram"></i>
                        </a>
                        <a href="https://skyway.bandcamp.com/releases" class="elementor-icon elementor-social-icon elementor-social-icon-bandcamp elementor-repeater-item-8b289d0" target="_blank">
                            <span class="elementor-screen-only"></span>
                            <i style="font-size:300%; padding:0 25px 0 15px" class="fab fa-bandcamp"></i>
                        </a>
                        <a href="https://mega.nz/file/2AImHKZJ#nIalem5kcd1w8i4w34oxNWOpTvunUzJ0p1Jkk0LuomE" width="40px" height="40px" class="elementor-icon elementor-social-icon elementor-social-icon-cloud-download-alt elementor-repeater-item-1cd926c" target="_blank">
                            <span class="elementor-screen-only"></span>
                            <i style="font-size:300%; padding:0 25px 0 15px" class="fas fa-cloud-download-alt"></i>
                        </a>
                    </div>
                </div>
            </div> <br />

            <!-- ======== SKYWAY VIDEOS ===========-->
            <iframe width="491" height="315" src="https://www.youtube.com/embed/Z2iqxCJy9j8" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="491" height="315" src="https://www.youtube.com/embed/kT70Cki1mZ8" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <br />
            <iframe width="491" height="315" src="https://www.youtube.com/embed/_NpWQZi8EVg" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="491" height="315" src="https://www.youtube.com/embed/9KliCpS5hRU" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <br /><br /><br />

            <!-- ======== LYRICS ===========-->
            <div class="container-download">
                <a align="left" download href="assets/Lyrics.pdf" class="btn btn1"><strong>Download Lyrics</strong></a>
            </div><br /><br />

            <!-- ======== CHORDS ===========-->
            <div class="container-download">
                <a align="right " download href="https://www.ultimate-guitar.com/artist/skyway_33210?filter=chords" target="_blank" class="btn btn1"><strong>Check Chords</strong></a>
            </div><br /><br />

            <!-- ======== GEAR ===========-->
            <div class="section-title">
                <p>My Gear</p>
            </div>

            <!-- ======== FENDER ===========-->
            <div class="row special-list">
                <div class="col-lg-4 col-md-6 special-grid drinks">
                    <div class="gallery-single fix">
                        <img src="assets/img/portfolio/fender.jpg" class="img-fluid" alt="Image">
                        <div class="why-text">
                            <h5> <a href="https://shop.fender.com/es-ES/electric-guitars/stratocaster/?rl=en_US" style="color:black"> White Fender Stratocaster </a></h5>
                            <p style="color:black">I got this guitar as a Christmas gift when I was 16. It can be heard all along Skyway album.</p>
                        </div>
                    </div>
                </div>
                <!-- ======== YAMAHA ===========-->
                <div class="col-lg-4 col-md-6 special-grid drinks">
                    <div class="gallery-single fix">
                        <img src="assets/img/portfolio/yamaha.jpg" class="img-fluid" alt="Image">
                        <div class="why-text">
                            <h5> <a href="https://www.amazon.com/Yamaha-L-LL6-Acoustic-Electric-Guitar/dp/B00M6OSG36" style="color:black"> Acoustic Yamaha LL6 </a></h5>
                            <p style="color:black">This was my first guitar I ever bought. I needed a good acoustic that was both cool, sounded good and could be plugged in into an amp.</p>
                        </div>
                    </div>
                </div>
                <!-- ======== JAGUAR ===========-->
                <div class="col-lg-4 col-md-6 special-grid drinks">
                    <div class="gallery-single fix">
                        <img src="assets/img/portfolio/jaguar.jpg" class="img-fluid" alt="Image">
                        <div class="why-text">
                            <h5> <a href="https://shop.fender.com/es-ES/squier-electric-basses/jaguar-bass/?rl=en_US" style="color:black"> Squire Jaguar Electric Bass </a></h5>
                            <p style="color:black">This bass was my brother's but then I borrowed it and now it's kind of mine. I used it to record the majority of the bass lines in the Skyway album.</p>
                        </div>
                    </div>
                </div>
                <!-- ======== UKELELE ===========-->
                <div class="col-lg-4 col-md-6 special-grid lunch">
                    <div class="gallery-single fix">
                        <img src="assets/img/portfolio/ukelele.jpg" class="img-fluid" alt="Image">
                        <div class="why-text">
                            <h5> <a href="https://www.amazon.com/Lanikai-LU-11-Soprano-Ukulele/dp/B0018TF0O8" style="color:black"> Ukelele Lanikai Lu 11 </a></h5>
                            <p style="color:black">I bought this ukelele to play Manel songs at first and then I explored it and discovered a huge potential in this small instrument. </p>
                        </div>
                    </div>
                </div>
                <!-- ======== MICRO ===========-->
                <div class="col-lg-4 col-md-6 special-grid lunch">
                    <div class="gallery-single fix">
                        <img src="assets/img/portfolio/micro.jpg" class="img-fluid" alt="Image">
                        <div class="why-text">
                            <h5> <a href="https://www.thomann.de/es/rode_nt1a_complete_vocal_recording.htm" style="color:black"> Rode NT1-A Microphone </a></h5>
                            <p style="color:black">I adquired this microphone in order to record vocals for the record as well as being able to record and produce tracks. </p>
                        </div>
                    </div>
                </div>
                <!-- ======== SOUNDCARD ===========-->
                <div class="col-lg-4 col-md-6 special-grid lunch">
                    <div class="gallery-single fix">
                        <img src="assets/img/portfolio/behringer.jpg" class="img-fluid" alt="Image">
                        <div class="why-text">
                            <h5> <a href="https://www.thomann.de/es/behringer_u_phoria_um2.htm" style="color:black"> Behringer U-Phoria UM2 SoundCard</a></h5>
                            <p style="color:black">This is a rather simple and basic sound card but works good, as far as I need it does the job.</p>
                        </div>
                    </div>
                </div>
                <!-- ======== MIDI ===========-->
                <div class="col-lg-4 col-md-6 special-grid lunch">
                    <div class="gallery-single fix">
                        <img src="assets/img/portfolio/midi.jpg" class="img-fluid" alt="Image">
                        <div class="why-text">
                            <h5> <a href="https://www.native-instruments.com/en/products/komplete/keyboards/komplete-kontrol-a25-a49-a61/" style="color:black"> Komplete Kontrol A49 Midi Keyboard </a></h5>
                            <p style="color:black">I bought this midi keyboard to fulfill the need of playing the piano as well as being able to synthetize new sounds or playing any kind of midi instruments.</p>
                        </div>
                    </div>
                </div>
                <!-- ======== PEDALBOARD ===========-->
                <div class="col-lg-4 col-md-6 special-grid lunch">
                    <div class="gallery-single fix">
                        <img src="assets/img/portfolio/pedalera.jpg" class="img-fluid" alt="Image">
                        <div class="why-text">
                            <h5> <a href="https://www.thomann.de/gb/cases_for_guitar_effects_guitars.html" style="color:black">Personalized Pedalboard</a></h5>
                            <p style="color:black">I use a pedalboard with my guitars to add sound effects or create loops. I have space for 10 pedals in the board. </p>
                        </div>
                    </div>
                </div>
                <!-- ======== AMPLI ===========-->
                <div class="col-lg-4 col-md-6 special-grid lunch">
                    <div class="gallery-single fix">
                        <img src="assets/img/portfolio/ampli.jpg" class="img-fluid" alt="Image">
                        <div class="why-text">
                            <h5> <a href="https://peavey.com/Guitar-Amps" style="color:black">Peavey Rage 158 Amplifier</a></h5>
                            <p style="color:black">This was my uncle's amp. I borrowed it a few years ago and I still use it to this day, it sound good and it is rather small and esasy to carry arround. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- End MUSIC -->
    <!-- ======= GAME LEVEL DESIGN ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="section-title">
                <h2>Game Design</h2>
                <p>Game and Level Design</p>
            </div>
            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-upc">School Projects</li>
                        <li data-filter=".filter-ld">Level Design</li>
                        <li data-filter=".filter-jams">Game Jams</li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container">

                <!-- The Witcher -->
                <div class="col-lg-4 col-md-6 portfolio-item filter-upc">
                    <dv class="portfolio-wrap">
                        <img src="assets\img\team\Witcher.jpg" alt="">
                        <div class="portfolio-info">
                            <a href="https://tiesofdestiny.com/" target="_blank"><h4>The Witcher: Ties Of Destiny</h4></a>
                            <p>Project 3 UPC</p>
                            <div class="portfolio-links">
                            </div>
                        </div>
                    </dv>
                </div>
            </div>

            <div class="row portfolio-container">

                <!-- Fantasy Brawl -->
                <div class="col-lg-4 col-md-6 portfolio-item filter-upc">
                    <dv class="portfolio-wrap">
                        <img src="assets\img\team\Brawl.jpg" alt="">
                        <div class="portfolio-info">
                            <a href="https://checkthedog.github.io/Fantasy-Brawl/" target="_blank"><h4>Fantasy Brawl</h4></a>
                            <p>Project 2 UPC</p>
                            <div class="portfolio-links">
                            </div>
                        </div>
                    </dv>
                </div>
            </div>

            <div class="row portfolio-container">

                <!-- Commando -->
                <div class="col-lg-4 col-md-6 portfolio-item filter-upc">
                    <dv class="portfolio-wrap">
                        <img src="assets\img\team\Commando.jpg" alt="">
                        <div class="portfolio-info">
                            <a href="https://polferrando98.github.io/Commando-by-Aperture-Wolves/" target="_blank"><h4>Commando</h4></a>
                            <p>Project 1 UPC</p>
                            <div class="portfolio-links">
                            </div>
                        </div>
                    </dv>
                </div>
            </div>

            <div class="row portfolio-container">

                <!-- Golden Idol -->
                <div class="col-lg-4 col-md-6 portfolio-item filter-ld">
                    <dv class="portfolio-wrap">
                        <img src="assets\img\team\Idol.jpg" alt="">
                        <div class="portfolio-info">
                            <a href="assets\LDD_Golden_Idol.pdf" target="_blank"><h4>Golden Idol</h4></a>
                            <p>Tutorial Level Design</p>
                            <div class="portfolio-links">
                            </div>
                        </div>
                    </dv>
                </div>
            </div>

            <div class="row portfolio-container">

                <!-- Cemetery Gates -->
                <div class="col-lg-4 col-md-6 portfolio-item filter-ld">
                    <dv class="portfolio-wrap">
                        <img src="assets\img\team\gates.jpg" alt="">
                        <div class="portfolio-info">
                            <a href="https://rogerjimbo.itch.io/cemetery-gates" target="_blank"><h4>Cemetery Gates</h4></a>
                            <p>Player Guidance Laberynth</p>
                            <div class="portfolio-links">
                            </div>
                        </div>
                    </dv>
                </div>
            </div>

            <div class="row portfolio-container">

                <!-- The Platform -->
                <div class="col-lg-4 col-md-6 portfolio-item filter-ld">
                    <dv class="portfolio-wrap">
                        <img src="assets\img\team\hammer.jpg" alt="">
                        <div class="portfolio-info">
                            <a href="assets\LDD_The_Platform (Hammer Editor).pdf" target="_blank"><h4>The Platform</h4></a>
                            <p>Hammer Editor Level</p>
                            <div class="portfolio-links">
                            </div>
                        </div>
                    </dv>
                </div>
            </div>

            <div class="row portfolio-container">

                <!-- Habemus Morbus -->
                <div class="col-lg-4 col-md-6 portfolio-item filter-ld">
                    <dv class="portfolio-wrap">
                        <img src="assets\img\team\morbus.jpg" alt="">
                        <div class="portfolio-info">
                            <a href="https://rogerjimbo.itch.io/habemus-morbus" target="_blank"><h4>Habemus Morbus</h4></a>
                            <p>Unreal One Page Dungeon</p>
                            <div class="portfolio-links">
                            </div>
                        </div>
                    </dv>
                </div>
            </div>

            <div class="row portfolio-container">

                <!-- 2020: A Space Portal -->
                <div class="col-lg-4 col-md-6 portfolio-item filter-ld">
                    <dv class="portfolio-wrap">
                        <img src="assets\img\team\portal.jpg" alt="">
                        <div class="portfolio-info">
                            <a href="assets\LDD_2020_ A Space Portal (Portal Editor).pdf" target="_blank"><h4>2020: A Space Portal</h4></a>
                            <p>Portal 2 Editor Levels</p>
                            <div class="portfolio-links">
                            </div>
                        </div>
                    </dv>
                </div>
            </div>

            <div class="row portfolio-container">

                <!-- Crazy Teeth -->
                <div class="col-lg-4 col-md-6 portfolio-item filter-jams">
                    <dv class="portfolio-wrap">
                        <img src="assets\img\team\teeth.jpg" alt="">
                        <div class="portfolio-info">
                            <a href="https://rogerjimbo.itch.io/crazy-teeth" target="_blank"><h4>Crazy Teeth</h4></a>
                            <p>Barcelona Games World Jam</p>
                            <div class="portfolio-links">
                            </div>
                        </div>
                    </dv>
                </div>
            </div>

            <div class="row portfolio-container">

                <!-- Bubble Ball -->
                <div class="col-lg-4 col-md-6 portfolio-item filter-jams">
                    <dv class="portfolio-wrap">
                        <img src="assets\img\team\bubble.jpg" alt="">
                        <div class="portfolio-info">
                            <a href="https://rogerjimbo.itch.io/bubbleball" target="_blank"><h4>Bubble Ball</h4></a>
                            <p>UPC Game Jam</p>
                            <div class="portfolio-links">
                            </div>
                        </div>
                    </dv>
                </div>
            </div>
        </div>
    </section><!-- End Portfolio Section -->

    <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/personal-free-resume-bootstrap-template/ -->
        <!--    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
    </div>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="assets/vendor/counterup/counterup.min.js"></script>
    <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/venobox/venobox.min.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

</body>

</html>
